#naruto {
  background-color: aqua;
  margin: 0 auto;
  color: rgb(35, 127, 207);
}
h1 {
  margin-top: 51px;
  text-align: center;
}
.box {
  position: fixed;
  background-color: beige;
  left: 0;
  right: 0;
  top: 0;
}
.box a {
  text-decoration: none;
  padding: 30px;
}
.box li {
  inset: 50px 50px;
  display: inline-block;
}
